body {
  background-color: #f1f3f6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  border-radius: 1rem;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.01);
}

.input-group-text {
  width: 45px;
  justify-content: center;
}

input:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}


.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Optional: prevent dropdown from shifting */
}

.dropdown-menu {
  transition: all 0.3s ease;
}


    