/* Import a Google font or any font you prefer */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif; /* Apply font family to the entire body */
  background-color: #f9f9f9; /* Optional background color */
  color: #333; /* Optional text color */
  font-size: 16px; /* Optional font size */
}

h1, h2 {
  font-family: 'Lora', serif; /* Apply Lora font to headings */
  
}

 h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif; /* Ensures headings use the same font */
}

h2{
  font-size: 34px; /* Adjusted font size for h2 */
  color: #333; /* Optional color for h2 */
  font-weight: 700;
}

a {
  text-decoration: none; /* Removes underline from links */
  color: #007bff; /* Default link color */
}

a:hover {
  color: #0056b3; /* Darker color on hover */
}
p {
  line-height: 1.6; /* Improves readability */
}

